<section>
    <div id="esquerda"></div>
    <div id="meio">
        <h1> Lista de pessoas</h1>
        <table>
            <thead>
                <th>
                    <a> ID </a>
                </th>
                <th>
                    <a> NOME </a>
                </th>
                <th>
                    <a> CPF </a>
                </th>
                <th>
                    <a> TELEFONE </a>
                </th>
            </thead>

            <tbody *ngFor="let pessoa of relacaodepessoa">
                <tr>
                    <td>
                        {{pessoa.pessoaId}}
                    </td>
                    <td>
                        {{pessoa.nome}}
                    </td>
                    <td>
                        {{pessoa.cpf}}
                    </td>
                    <td>
                        {{pessoa.telefone}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="direita"></div>
</section>