<div id="modelo">
    <label for="modelo">modelo:</label>
    <input type="text" name="modelo" [(ngModel)]= "modelo" />
</div>


<div id="placa">
    <label for="placa">Placa:</label>
    <input type="text" name="placa" [(ngModel)]= "placa"/>
</div>

<div id="cor">
    <label for="cor">Cor:</label>
    <input type="text" name="cor" [(ngModel)]= "cor"/>
</div>

<div id="pessoa">
    <label for="pessoa">Dono:</label>
    <select name="pessoa">
        <option *ngFor="let pessoa of pessoas" value = "{{ pessoa.cpf }}"> {{ pessoa.nome }} </option>
    </select>
</div>

<button (click)="casdastrarCarro()">Enviar</button>
