<div id="pessoaId">
    <label for="pessoaId">ID:</label>
    <input type="number" name="pessoaId" [(ngModel)]= "pessoaId" />
</div>

<div id="nome">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]= "nome" />
</div>


<div id="cpf">
    <label for="cpf">Cpf:</label>
    <input type="text" name="cpf" [(ngModel)]= "cpf"/>
</div>

<div id="telefone">
    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" [(ngModel)]= "telefone"/>
</div>

<button (click)="atualizarCliente()">Cadastrar</button>
