<section>
    <div id="esquerda"></div>
    <div id="meio">
        <h1> Buscar carro</h1>
        <div id="placa">
            <label for="placa">Informe a placa:</label><br>
            <input type="text" name="placa" placeholder="Digite a placa:" [(ngModel)]= "placa"/>
        </div>
        
        <button (click)="buscar()">Buscar</button><br><br>
        <table>
            <thead>
                <th>
                    <a> MODELO </a>
                </th>
                <th>
                    <a> PLACA </a>
                </th>
                <th>
                    <a> COR </a>
                </th>
            </thead>

            <tbody ngFor="carroBuscado">
                <tr>
                    <td>
                        {{carroBuscado.modelo }}
                    </td>
                    <td>
                        {{carroBuscado.placa}}
                    </td>
                    <td>
                        {{carroBuscado.cor }}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        
    </div>
    <div id="direita"></div>
</section>