<section>
    <div id="esquerda"></div>
    <div id="meio">
        <h1> Lista de vagas</h1>
        <table>
            <thead>
                <th>
                    <a> VAGA </a>
                </th>
                <th>
                    <a> STATUS </a>
                </th>
                <th>
                    <a> TIPO </a>
                </th>
            </thead>

            <tbody *ngFor="let vaga of relacaodevaga">
                <tr>
                    <td>
                        {{vaga.vagaId}}
                    </td>
                    <td>
                        {{vaga.status}}
                    </td>
                    <td>
                        {{vaga.tipo}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="direita"></div>
</section>