
<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>ParkingSystem</span>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="index/pessoa">
                <mat-icon class="icon">people</mat-icon> Controle de Pessos
            </a>
                        <a mat-list-item routerLink="index/carro">
                <mat-icon class="icon">directions_car</mat-icon> Controles de Veiculos
            </a>
            <a mat-list-item routerLink="index/vaga">
                <mat-icon class="icon">local_car_wash</mat-icon> Controle de Vagas
            </a>
            <a mat-list-item routerLink="saida/saida">
                <mat-icon class="icon">list</mat-icon> Saídas de Veiculos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

