<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav opened mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink=""> Cadastro de cliente </a>
            <a mat-list-item routerLink="pessoa/listar"> Listar Clientes  </a>
            <a mat-list-item routerLink="pessoa/atualizar"> Atualizar de cliente </a>
         </mat-nav-list>
         <mat-nav-list>
            <a mat-list-item routerLink="carro/cadastrar"> Cadastros de Carro </a>
            <a mat-list-item routerLink="carro/listar"> Listar Carros  </a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>



        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>