<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #sidenav opened mode="side">
        <mat-nav-list style="background-color: rgb(64, 216, 221);">
            <a mat-list-item routerLink="" > Cadastro de cliente </a>
            <a mat-list-item routerLink="pessoa/listar"> Listar Clientes  </a>
            <a mat-list-item routerLink="pessoa/atualizar"> Atualizar de cliente </a>
         </mat-nav-list>
         <mat-nav-list style="background-color: rgb(228, 230, 132);">
            <a mat-list-item routerLink="carro/cadastrar"> Cadastros de Carro </a>
            <a mat-list-item routerLink="carro/listar"> Listar Carros  </a>
            <a mat-list-item routerLink="carro/atualizar"> Atualizar Carros  </a>
         </mat-nav-list>
         <mat-nav-list style="background-color: rgb(228, 17, 17);">
            <a mat-list-item routerLink="vaga/listar"> Listar VAGAS  </a>
            <a mat-list-item routerLink="vaga/atualizar"> Atualizar VAGAS  </a>
         </mat-nav-list>
         

    </mat-sidenav>
    <mat-sidenav-content>



        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>