<body>
    <a class="navbar-brand" href="">Pagina inicial</a>

    <a href="/pessoa/cadastrar">Cadastro de pessoas </a>

    <a href="/pessoa/listar">Listar pessoas </a>

    <a href="/pessoa/buscar">Buscar pessoa </a>

    <a href="/pessoa/atualizar">Atualizar pessoa </a>

    <a href="/pessoa/excluir">Excluir pessoa </a>

    <a href="/carro/cadastrar">Cadastro de Carro </a>

    <a href="/carro/listar">Listar carros </a>

    <a href="/carro/buscar">Buscar carro </a>

    <a href="/carro/atualizar">Atualizar carro </a>

    <a href="/carro/excluir">Excluir carro </a>

    <a href="/vaga/cadastrar">Cadastro de Vaga </a>

    <a href="/vaga/listar">Listar vagas </a>

    <a href="/vaga/buscar">Buscar vaga </a>

    <a href="/vaga/deletar">Excluir vaga </a>

    <router-outlet></router-outlet>
</body>