<mat-card>
    <mat-card-header>
        <mat-card-title>Atualizar Carro</mat-card-title>
    </mat-card-header>

    <mat-card-content>

        <mat-form-field class="input" id="carroId">
            <mat-label for="carroId">ID:</mat-label>
            <input matInput type="text" name="carroId" [(ngModel)]="carroId" />
        </mat-form-field>

        <mat-form-field class="input" id="modelo">
            <mat-label for="modelo">Modelo:</mat-label>
            <input matInput type="text" name="modelo" [(ngModel)]="modelo" />
        </mat-form-field>
        <mat-form-field class="input" id="placa">
            <mat-label for="placa">Placa:</mat-label>
            <input matInput type="text" name="placa" [(ngModel)]="placa" />
        </mat-form-field>
        <mat-form-field class="input" id="cor">
            <mat-label for="cor">Cor:</mat-label>
            <input matInput type="text" name="cor" [(ngModel)]="cor" />
        </mat-form-field>
    </mat-card-content>
    <button mat-flat-button color="primary" (click)="atualizarCarro()">Atualizar</button>
</mat-card>
