<mat-card>
    <mat-card-header>
        <mat-card-title> Pessoas</mat-card-title>
    </mat-card-header>
    <mat-card-content class="container">
        <div class="funsao"> </div>
        <div class="linha">
            <button mat-stroked-button color="primary" routerLink="/pessoa/cadastrar"> Cadastrar </button>
            <button mat-stroked-button color="primary" routerLink="/pessoa/listar"> Listar </button>
            <button mat-stroked-button color="primary" routerLink="/pessoa/atualizar"> Atualizar </button>
            <button mat-stroked-button color="primary" routerLink="/pessoa/buscar"> Buscar </button>
            <button mat-stroked-button color="primary" routerLink="/pessoa/excluir"> Deletar </button>
        </div>

    </mat-card-content>

</mat-card>
